@page "/contact"
@model ContactModel
@inject IStringLocalizer<ContactModel> Localizer
@{
    ViewData["contact"] = "current";
}

<section class="bg-white inner-banner pages">
    <div class="container pad-container">
        <div class="col-md-12">
            <h1 class="text-center contacttitle">@Localizer["title"]</h1>
            @* <h3 class="text-center contacttext">@Localizer["subtitle"]</h3> *@
        </div>
    </div>
</section>
<!-- / inner banner -->

<!-- intro section -->
<section class="bg-white">
    <div class="container pad-container">
        <div class="row col-md-12 text-center">
            <h2 class="heading">@Localizer["write-us"]</h2>
            <p>@Localizer["sub-write-us"]</p>
        </div>
        <div class="clearfix"></div>
        <div class="row t-pad40">
            <div class="col-md-6">
                <div class="form-container">
                    <div class="response alert alert-success"></div>
                    <form method="post" id="contact-form">
                        <div class="row b-mgr20">
                            <div class="col-sm-6">
                                <input id="clientName" type="text" value="" placeholder="Name *" />
                            </div>
                        </div>
                        <div class="row b-mgr20">
                            <div class="col-sm-6">
                                <input id="clientEmail" type="text" value="" placeholder="Email" />
                            </div>
                            <div class="col-sm-6">
                                <input id="clientPhone" type="text" value="" placeholder="Phone *" />
                            </div>
                        </div>
                        <div class="row b-mgr20">
                            <div class="col-sm-12">
                                <textarea name="message" id="msgContent" cols="40" rows="3" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" class="btn-submit" value="@Localizer["send"]">
                            </div>
                        </div>
                        <p class="small">* @Localizer["telemetry"]</p>
                    </form>
                </div>
            </div>

            <div class="col-md-6">

                <div class="row l-pad40">

                    <div class="services-box-2">
                        <i class="icon-picons-pin-2"></i>
                        <div class="content">
                            <p>Suite No 543, Nizami Küç,
                                <br>Bakı/Azerbaycan (AZ) AZ1000</p>
                        </div>
                    </div>

                    <div class="services-box-2 t-pad20">
                        <i class="icon-picons-telephone-call"></i>
                        <div class="content">
                            <p>(+9940) 000-00-00
                                <br> (+9940) 000-00-000</p>
                        </div>
                    </div>

                    <div class="services-box-2 t-pad20">
                        <i class="icon-picons-envelope"></i>
                        <div class="content">
                            <p><a href="mailto:contact@company.com">contact@creator.com</a>
                                <br>
                                <a href="mailto:sales@company.com">sales@creator.com</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row t-mgr30">

                    <div class="map-bg">

                        <div class="map-wrapper">
                            <iframe src="https://google.com" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-xs-offset-1 text-center">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ intro section -->
@section Scripts
{
    @* <script src="~/js/jquery.min.js"></script> *@
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/message.js"></script>
}