@page "/gallery"
@model GalleryModel
@inject IStringLocalizer<GalleryModel> Localizer
@{
    ViewData["gallery"] = "current";
    var images = ViewData["images"] as List<Image>;
}

<section class="bg-white inner-banner pages">

<div class="container pad-container">
    <div class="col-md-12">
        <h1 class="text-center">@Localizer["title"].Value</h1>
        <h3 class="text-center">@Localizer["subtitle"].Value</h3>
    </div>
</div>

</section>
<!-- / inner banner -->

<!-- portfolio section -->
<section>

    <div class="container pad-container2">

        <!-- projects filter -->
        <div class="filter text-left">
            <a href="#" class="filter active" data-filter="*">@Localizer["all"]</a>
            <a href="#" class="filter" data-filter=".marbel">@Localizer["metlax"]</a>
            <a href="#" class="filter" data-filter=".granit">@Localizer["qranit"]</a>
            <a href="#" class="filter" data-filter=".seramik">@Localizer["seramik"]</a>
        </div>
        <!-- /projects filter -->

        <!-- projects grid -->
        <ul class="projects-grid-3 project-grid-gut hide-titles" id="project-grid">
            @if (images != null)
            {@foreach (var img in images)
            {
                <li class="project-item mix @img.Alt">
                    <div class="project-img">
                        <img class="project-img" src="https://acreator.az/api/@img.Url" alt="@img.Alt" />
                    </div>
                    <div class="project-intro">
                        <h3 class="project-title"><a href="https://acreator.az/api/@img.Url">@Localizer["boyut"]</a></h3>
                    </div>
                </li>
            }}
        </ul>
    <!-- / projects grid -->
    </div>
</section>