@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> Localizer
@{
    ViewData["Title"] = "Home page";
    Layout = null;

    var images = ViewData["images"] as List<Image>;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <title>ACreaetor - Just Marbellous!</title>
    <!-- Favicon ============================================== -->

    <!-- Mobile Specific ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Files ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/color/yellow.css" id="colors">
    <link rel="stylesheet" type="text/css" href="~/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" media="all" />
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
    <link rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700,800,900'>
    <link rel="stylesheet" type="text/css" href="~/css/fonts/fontello.css">
    <link rel="stylesheet" type="text/css" href="~/css/fonts/gizmo.css">
    <link rel="stylesheet" type="text/css" href="~/css/fonts/picons.css">
    <link href="~/css/aos.css" rel="stylesheet">
    <!-- Modernizr js file ================================================== -->
    <script src="~/js/modernizr.custom.js"></script>
</head>

<body>
    <!-- loader -->
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- /loader -->
    <!-- content wrapper -->
    <div class="content-wrap">

        <div class="content">

            <!-- search -->
            <section id="header-search-panel">

                <div class="search">
                    <div>
                        <form action="#" id="header-search-form" method="get">
                            <a class="close-search" href="#"><i class="ss-delete"></i></a>
                            <input type="text" id="header-search" name="s" value="Axtar..." autocomplete="off"
                                   onfocus="if (this.value === 'Axtar...')this.value = '';"
                                   onblur="if (this.value === '')this.value = 'Axtar...';" />
                        </form>
                    </div>
                    <h6>&nbsp;</h6>
                </div>
            </section>
            <!--/ search -->
            
            <!-- top bar -->
            <div class="topbar"></div>

            <div class="container topbar-content">

                <div class="col-md-6">
                    <ul>
                        <li><i class="icon-clock-1"></i> Həftə içi sizin xidmətinizdəyik</li>
                    </ul>
                </div>
                <div class="col-md-6 right" style="display: none">
                    <ul class="toplink">
                        <li>
                            <a href="#">Qısayollar</a>
                        </li>
                        <li>
                            <a href="#">Geridönüş</a>
                        </li>
                        <li>
                            <a href="#">Saytın xərtəsi</a>
                        </li>
                        <li class="last">
                            <a href="#" id="header-search-button"><i class="icon-search-1"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- / top bar -->
            <!-- logo bar -->
            <div class="container header-nav">

                <div class="col-sm-3 col-xs-12">
                    <div class="basic-wrapper">
                        <a class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse"><i
                                class="icon-menu" ></i></a>
                        <a class="logo" href="/" style="margin-top: 0">
                            <img src="images/logo.png" alt="acreator-az logo"/>
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-9 col-xs-12">
                    <ul class="top-contact">
                        <li>
                            <div class="icon">
                                <i class="icon-phone-1"></i>
                                <div class="content">
                                    <h3>(+99450)325-76-60</h3>
                                    <p>info@acreator.az</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-location"></i>
                                <div class="content">
                                    <h3># UNVAN #</h3>
                                    <p>Bakı / Azerbaycan</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-clock-1"></i>
                                <div class="content">
                                    <h3>B.E - Ş 9:00 - 18:00</h3>
                                    <p style="color: red;">Bazar: Bağlı </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
         <!--/ logo bar -->
        
            @* SEPERATOR *@
            <div style="height: 25px"></div>
            <!-- nav bar -->
            <div class="bg-navbar"></div>
        
            <div style="margin-top: 30px;">
                <div style="max-height: 0; position: relative; z-index: 99999;">
                    <div class="collapse navbar-collapse right">
                        <!-- navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="/">@Localizer["nav-home"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/gallery">@Localizer["nav-gallery"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about">@Localizer["nav-about"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/products">@Localizer["nav-products"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact">@Localizer["nav-contact"]</a>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">@Localizer["nav-selectLang"]</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <img src="images/flag/azerbaijan.svg" width="20px"
                                                height="20px" alt="" class="languageicon"><span class="lanicon">AZ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="images/flag/england.svg" width="20px"
                                                height="20px" alt="" class="languageicon">
                                            <span
                                                class="lanicon">EN</span></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="images/flag/russia.svg" width="20px" height="20px"
                                                alt="" class="languageicon"><span class="lanicon">RU</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="social-top">
                                    <li>
                                        <a href="#" class="twitter-alt" title="Twitter" data-rel="tooltip"
                                        data-placement="top"><i class="icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="facebook-alt" title="Facebook" data-rel="tooltip"
                                        data-placement="top"><i class="icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="google-alt" title="Instagram" data-rel="tooltip"
                                        data-placement="top"><i class="icon-instagram"></i></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <!-- /navigation -->
                    </div>
                </div>

                <!-- revolution slider -->
                <div class="banner-container revalution" style="position: relative; z-index: -1;">
                    <div class="banner">
                        <ul>
                            @if (images != null)
                            {@foreach (var img in images)
                            {
                                <li data-transition="fade">
                                    @* <img src="https://acreator.az/api/@img.Url" alt="@img.Alt" /> *@
                                    <img src="https://acreator.az/api/Resources/Images/granit4676.jpeg" alt="@img.Alt" />

                                    <div class="caption sfr upper" data-x="10" data-y="200" data-speed="300" data-start="1200"
                                        data-easing="Sine.easeOut">
                                        <h3>ACreator</h3>
                                        <h2>Just <span>Marbellous!</span></h2>
                                        <p>@Localizer["title"]</p>
                                    </div>

                                    <div class="caption sfr" data-x="10" data-y="444" data-speed="300" data-start="1400"
                                        data-easing="Sine.easeOut">
                                        <a class="btn" href="/products" target="_self">@Localizer["products-link"] >> </a>
                                    </div>
                                </li>
                            }}
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                    <!-- /.banner -->
                </div>
            </div>
            <!-- /.fullwidthbanner-container -->
            <!-- tagline section -->
            <section class="bg-dark-gray">
                <div class="container" style="padding-top: 30px; padding-bottom: 30px">

                    <div class="row">

                        <div class="col-sm-8 t-pad40 b-pad30">
                            <h3 class="color-white">
                                ACreator - Just Marbellous! <br>
                                @Localizer["title"]
                            </h3>
                        </div>

                        <div class="col-sm-4">

                        </div>

                    </div>

                </div>
            </section>
            <!--/ tagline section -->
            <!-- intro section -->
            <section class="bg-white">

                <div class="container">

                    <div class="row b-pad40">

                        <div style="margin-top: 30px">
                            <div class="col-md-4 t-pad60" data-aos="fade-right" data-aos-duration="1500">
                                <div class="services-box-2">
                                    <div class="content">
                                        <p class="b-mgr20">
                                            <img src="images/gallery/p3.jpeg" class="pic" alt="">
                                        </p>
                                        <h3 class="introtitles">Aglay</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 t-pad60" data-aos="fade-right" data-aos-duration="1500">
                                <div class="services-box-2">
                                    <div class="content">
                                        <p class="b-mgr20">
                                            <img src="images/gallery/p5.jpeg" class="pic" alt="">
                                        </p>
                                        <h3 class="introtitles">Marbel</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" data-aos="fade-left" data-aos-duration="1500">

                            <div class="q-form-container">

                                <div class="q-form-title">
                                    <i class="icon-picons-building"></i>
                                    <div class="content">
                                        <p>@Localizer["question"]</p>
                                        <h3>@Localizer["sub-quest"]</h3>
                                    </div>
                                </div>

                                <div class="q-form">
                                    <form method="post" id="contact-form">
                                        <div class="row">
                                            <input id="clientName" type="text" value="" placeholder="Ad" />
                                        </div>
                                        <div class="row">
                                            <input id="clientEmail" type="text" value="" placeholder="Email" />
                                        </div>
                                        <div class="row">
                                            <input id="clientPhone" type="text" value="" placeholder="Telefon" />
                                        </div>
                                        <div class="row">
                                            <textarea name="content" cols="40" rows="1" id="msgContent"
                                                      placeholder="Question"></textarea>
                                        </div>
                                        <div class="row">
                                            <input type="submit" class="btn-submit" value="@Localizer["send"]" />
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
            <!--/ intro section -->
            <!-- features section -->
            <section>

                <div class="container container-pad-b0" style="padding-top: 30px">

                    <div class="row">

                        <div class="col-md-6 servicestop" data-aos="fade-right" data-aos-duration="1500">

                            <h1 class="t-pad10 servicestitle">@Localizer["services"]</h1>
                            
                            <div class="services-box-2 left">
                                <i class="icon-picons-airplay
                                "></i>
                                <div class="content">
                                    <h3>@Localizer["design"]</h3>
                                    <p>
                                        Dizaynda, fakturada və rəngdə təbii və süni daşların əhəmiyyətli payını nəzərə
                                        alaraq bəzən ən gözəl daşlar düzgün istifadə edilmədiyi təqdirdə narahat və
                                        arzuolunmaz bir mühitdə yer dəyişdirə bilər.
                                    </p>
                                </div>
                            </div>

                            <div class="services-box-2 left">
                                <i class="icon-picons-user-3"></i>
                                <div class="content">
                                    <h3>@Localizer["cut"]</h3>
                                    <p>
                                        Müştəri dizayn işlərini tamamladıqdan və son layihəni
                                        dəqiqləşdirdikdən sonra, mexaniki kəsmə əməliyyatları dünyanın ən dəqiq müasir
                                        avadanlıqlarından istifadə etməklə mexanikləşdirilmiş əsasda aparılır.
                                    </p>
                                </div>
                            </div>

                            <div class="services-box-2 left">
                                <i class="icon-picons-close"></i>
                                <div class="content">
                                    <h3>@Localizer["support"]</h3>
                                    <p>
                                        Səthləri təmizləmək üçün heç vaxt ağ, kaustik soda, cilalar və xlorlu
                                        həlledicilər kimi kimyəvi maddələrdən istifadə etməyin
                                    </p>
                                </div>
                            </div>

                        </div>



                        <div class="col-md-4 col-xs-offset-1 t-pad60" data-aos="fade-left" data-aos-duration="1500">
                            <img src="images/gallery/p11.jpeg" alt="">
                        </div>

                    </div>

                </div>
            </section>
            <!--/ features section -->
            <!-- project section -->
            <section class="bg-dark-gray">

                <div class="container" style="padding-top: 30px; padding-bottom: 30px">
                    @*<div class="row col-md-12 text-center t-pad60 b-pad50" data-aos="zoom-in-down" data-aos="flip-right"*@
                    <div class="row col-md-12 text-center t-pad60 b-pad50" data-aos="flip-right"
                         data-aos-duration="1500">
                        <h2 class="heading colored fotogallery-title">@Localizer["nav-gallery"]</h2>
                        <p class="h-sub-white mt-2">@Localizer["sub-gallery"]</p>
                    </div>
                </div>


                <!-- projects Grid -->
                <ul class="projects-grid hide-titles" id="project-grid">

                    <!-- project Item  -->
                    <li class="project-item mix branding">
                        <img class="project-img" src="images/gallery/p14.jpeg" alt="project" />
                    </li>
                    <!-- End project Item -->
                    <!-- project Item -->
                    <li class="project-item mix design photography">

                        <img class="project-img" src="images/gallery/p2.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->
                    <!-- project Item -->
                    <li class="project-item mix design">

                        <img class="project-img" src="images/gallery/p16.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->
                    <!-- project Item -->
                    <li class="project-item mix design">

                        <img class="project-img" src="images/gallery/p4.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->

                </ul>
                <!-- End projects Grid -->

            </section>
            <!--/ project section -->
            <!-- blog posts -->
            <!-- / blog posts -->
            <!-- parallax section -->
            <section class="parallax home">

                <div class="container pad-container-parallax">


                    <div class="row col-md-12">
                        <h2 class="text-center">ACreator</h2>
                        <h1 class="text-center parallaxtitle">
                            @Localizer["short-info"]
                        </h1>

                    </div>

                </div>

            </section>
            <!--/ parallax section -->

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card footercards">
                                <div class="card-body">
                                    <h4 class="card-title footerabout">@Localizer["nav-about"]</h4>
                                    <p class="card-body footertext">
                                        @Localizer["footer-info"]
                                    </p>

                                    <div class="socialsicons">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/facebook-f-brands.svg"
                                                             alt="" class="fbicon">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/twitter-brands.svg" alt=""
                                                             class="twicon">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/instagram-brands.svg"
                                                             alt="" class="instaicon">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card footercards2">
                                <div class="card-body">
                                    <h4 class="card-title footercontact-title">@Localizer["nav-contact"]</h4>
                                    <div class="footercontacts">
                                        <ul class="list-inline">
                                            <li class="list-inline-item p-2">
                                                <img src="icon/map-marker-alt-solid.svg"
                                                     class="mapsicon" alt=""><span># UNVAN #</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <img src="icon/phone-alt-solid.svg"
                                                     class="phoneicon" alt=""><span class="ml-2"># TELEFON #</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card footercards3">
                                <div class="card-body">
                                    <h4 class="card-title footercontact-title">@Localizer["footer-hours"]</h4>
                                    <ul class="list-inline p-2">
                                        <li class="list-inline-item">
                                            B.E - C: -------------------------- 9:00 am - 18:00 pm
                                        </li>
                                        <li class="list-inline-item">
                                            Şənbə: -------------------------- 9:00 am - 16:00 pm
                                        </li>
                                        <li class="list-inline-item">Bazar: -------------------------- Bağlıdır</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="container">

                            <div class="col-md-12">
                                <ul class="list-inline footernav">
                                    <li class="list-inline-item">
                                        <a href="/" class="navlink navwhite">
                                            @Localizer["nav-home"]
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/about"
                                           class="navlink navwhite">@Localizer["nav-about"]</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/contact" class="navlink navwhite">@Localizer["nav-contact"]</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/products" class="navlink navwhite">@Localizer["nav-products"]</a>
                                    </li>

                                </ul>
                            </div>


                            <div class="row d-flex justify-content-center designbyme">
                                <div class="col-lg-12">
                                    <h4 class="copyrighttitle text-center">
                                        ACreator.az - Copyright &copy; All rights reserved | &nbsp;by
                                        <a href="https://www.facebook.com/elmar1087">Elmar Mammadov</a> &nbsp;&&nbsp;
                                        <a href="https://www.facebook.com/alvan.rahimli">Alvan Rahimli</a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--/content wrapper -->
    <!-- JS Files ================================================== -->
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.inview.js"></script>
    <script src="~/js/jquery.ui.totop.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.easytabs.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.zflickrfeed.min.js"></script>
    <script src="~/js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="~/js/jquery.easy-pie-chart.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/gizmo.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/message.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>