@page "/about"
@model PrivacyModel
@inject IStringLocalizer<PrivacyModel> Localizer
@{
    ViewData["about"] = "current";
}

<section class="bg-white inner-banner pages">

    <div class="container pad-container">
        <div class="col-md-12">
            <h1 class="text-center">@Localizer["title"]</h1>
        </div>
    </div>

</section>
<!-- / inner banner -->

<!-- intro section -->
<section class="bg-white">
    <div class="container pad-container2">

        <div class="row t-pad20">

            <div class="col-md-4">
                <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                <h3 class="text-center abouttitle">@Localizer["who"]</h3>
                <p class="text-center abouttext">@Localizer["who-ans"]</p>
            </div>

            <div class="col-md-4">
                <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                <h3 class="text-center abouttitle">@Localizer["what"]</h3>
                <p class="text-center abouttext">@Localizer["what-ans"]</p>
            </div>

            <div class="col-md-4">
                <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                <h3 class="text-center abouttitle">@Localizer["why"]</h3>
                <p class="text-center abouttext">@Localizer["why-ans"]</p>
            </div>
        </div>
    </div>
</section>
<!--/ intro section -->
