@page "~/product/{id}"
@model acreator_front.Pages.ProductModel
@{
    var id = RouteData.Values["id"];
    ViewData["Title"] = "MƏHSUL HAQQINDA";


    var product = ViewData["product"] as Product;
    Layout = "_Layout";
}

<section class="bg-white inner-banner pages">

    <div class="container pad-container">
        <div class="col-md-12">
            <h1 class="text-center producttitle">@ViewData["Title"]</h1>
            <h3 class="text-center producttext">@product.Name - &#8380;@((decimal)product.Price / 100)</h3>
        </div>
    </div>

</section>
<!-- / inner banner -->
<!-- Product section -->
<section>

    <div class="container pad-container">

        <div class="row">

            <div class="col-sm-5">
                <a href="/order/@product.Id"><img src="@("https://www.acreator.az/" + product.ImageUrl)" alt="@product.Name" /></a>
            </div>

            <div class="col-sm-6 product-details l-pad30">

                <h1>@product.Name<span><a href="#"></a></span></h1>
                <div class="rating">
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-empty-1"></i>
                </div>
                <div class="price">&#8380; @((decimal)product.Price / 100)</div>
                <p>@product.Type.ToString()</p>
                <p>Ölçülər: <strong>@product.Measurement.Width x @product.Measurement.Height</strong></p>
                @*<form enctype="multipart/form-data" method="post" class="cart t-mgr30">
                    <div class="quantity">
                        <label for="count">Sayi:</label>
                        <input type="number" placeholder="Sayi" name="count"/>
                        <input type="submit" value="Sifaris et!"/>
                    </div>
                </form>*@
                @*<div class="clearfix"></div>*@



            </div>

        </div>

        <div class="sep60"></div>

        <div class="tabs tabs-top left tab-container">

            <ul class="etabs">
                <li class="tab">
                    <a href="#tab-1"> MƏSUL TƏSVİRİ</a>
                </li>
                <li class="tab">
                    <a href="#tab-2">MƏHSUL HAQQINDA</a>
                </li>
                <li class="tab" style="cursor: not-allowed">
                    <a href="#tab-3">RƏYLƏR</a>
                </li>
            </ul>

            <div class="panel-container t-mgr10 brd-gray-cart">

                <div class="tab-block" id="tab-1">
                    <p># PRODUCT DESC #.</p>

                    <p># PRODUCT DESC 2 #</p>
                </div>

                <div class="tab-block" id="tab-2">
                    <div class="container">
                        <table class="standard-table">
                            <tr>
                                <th>Məhsul</th>
                                <th>Haqqında</th>
                            </tr>
                            <tr>
                                <td>Ölçülər</td>
                                <td>@product.Measurement.Width sm x @product.Measurement.Height sm</td>
                            </tr>
                            <tr>
                                <td>Rəng</td>
                                <td># PRODUCT COLOR #</td>
                            </tr>
                            <tr>
                                <td>Material</td>
                                <td>@product.Type.ToString()</td>
                            </tr>
                            <tr>
                                <td>Kvadratın qiyməti</td>
                                <td>&#8380; @((decimal)product.Price / 100)</td>
                            </tr>
                        </table>
                    </div>
                </div>

                @*<div class="tab-block" id="tab-3">
                    <div class="container">
                        <section class="comments-sec">
                            <ol class="commentlist">

                                <li>
                                    <div class="avatar"><img src="images/content/happy-clients-01.jpg" alt="" /> </div>
                                    <div class="comment-des">
                                        <h4 class="fw600">Jessica lyon</h4>
                                        <p class="date">
                                            Jun 11th, 2016 05:00 PM - <a href="#">Reply</a>
                                        </p>
                                        <p>In lacinia aliquet est et luctus. Sed et hendrerit tortor. Ut id aliquam arcu. Nam a mauris porta, pharetra justo sit amet, vestibulum justo.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <ol class="childlist">
                                        <li>
                                            <div class="avatar"><img src="images/content/happy-clients-02.jpg" alt="" /> </div>
                                            <div class="comment-des">
                                                <h4 class="fw600">Tom Richard</h4>
                                                <p class="date">
                                                    Jan 1st, 2015 03:15 PM - <a href="#">Reply</a>
                                                </p>
                                                <p>In lacinia aliquet est et luctus. Sed et hendrerit tortor. Ut id aliquam arcu. Nam a mauris porta, pharetra justo sit amet, vestibulum justo.</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <div class="avatar"><img src="images/content/happy-clients-01.jpg" alt="" /> </div>
                                    <div class="comment-des">
                                        <h4 class="fw600">Jessica lyon</h4>
                                        <p class="date">
                                            Mar 24th, 2016 07:45 PM - <a href="#">Reply</a>
                                        </p>
                                        <p>In lacinia aliquet est et luctus. Sed et hendrerit tortor. Ut id aliquam arcu. Nam a mauris porta, pharetra justo sit amet, vestibulum justo.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                            </ol>
                        </section>
                    </div>
                </div>*@

            </div>
        </div>

        <div class="clearfix"></div>
        <div class="sep60"></div>


        <!-- / product -->

    </div>

</section>