@page "/products"
@model ProductsModel
@{
    ViewData["Title"] = "MƏHSULLAR";
    ViewData["products"] = "current";
    List<Product> products = ViewData["ReturnedProducts"] as List<Product>;
        
    @functions{
        public void MakeOrder()
        {

        }
    }
}

            <!-- inner banner -->
<section class="bg-white inner-banner pages">

    <div class="container pad-container">
        <div class="col-md-12">
            <h1 class="text-center shoptitle">@ViewData["Title"]</h1>
            <h3 class="text-center shoptext">Məhsullarımızın arasından seçim edərək sifariş edə bilərsiniz.</h3>
        </div>
    </div>

</section>
<!-- / inner banner -->

<!-- Product section -->
<section>
    <div class="container pad-container">

        <div class="col-sm-12 content">

            <div class="product-grid col3">
                @if (ViewData["Products"] != null)
                @foreach (var product in products)
                {
                    <div class="post brd0">
                        <figure>
                            <a href="product-single3.html">
                                <img src="@("http://localhost:5000/" + product.ImageUrl)"
                                    alt="@product.Name" width="350" height="400"/> 
                                </a>
                                <a href="/order?id=@product.Id" class="btn right">Sifariş et</a>
                        </figure>
                        <div class="post-content">
                            <h3><a href="product-single3.html">@product.Name</a></h3>
                            <h4 style="float: right;">@(product.Measurement.Width + " x " + product.Measurement.Height + " sm")</h4>
                            <div class="price">
                                <span>&#8380;@((decimal)product.Price / 100)</span>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="clearfix"></div>
            <div class="sep30"></div>
            <div class="pagination">
                <ul>
                    <li><a href="#">Prev</a>
                    </li>
                    <li><a href="#" class="current">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">Next</a>
                    </li>
                </ul>
            </div>

        </div>

        

    </div>
</section>
<!--/ product section -->
