@page "/product/{id:int}"
@model acreator_front.Pages.ProductModel
@{
    Layout = "_Layout";
    var id = RouteData.Values["id"];
    ViewData["Title"] = "MƏHSUL HAQQINDA";
    var product = ViewData["product"] as Product;
}

<section class="bg-white inner-banner pages">

    <div class="container pad-container">
        <div class="col-md-12">
            <h1 class="text-center producttitle">@ViewData["Title"]</h1>
            <h3 class="text-center producttext">@product.Name - &#8380;@((decimal)product.Price / 100)</h3>
        </div>
    </div>

</section>
<!-- / inner banner -->
<!-- Product section -->
<section>

    <div class="container pad-container">

        <div class="row">

            <div class="col-sm-5">
                <a href="/order/@product.Id"><img src="@("https://www.acreator.az/" + product.ImageUrl)" alt="@product.Name" /></a>
            </div>

            <div class="col-sm-6 product-details l-pad30">

                <h1>@product.Name<span><a href="#"></a></span></h1>
                <div class="rating">
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-1"></i>
                    <i class="icon-star-empty-1"></i>
                </div>
                <div class="price">&#8380; @((decimal)product.Price / 100)</div>
                <p>@product.Type.ToString()</p>
                <p>Ölçülər: <strong>@product.Measurement.Width x @product.Measurement.Height</strong></p>
                <br />
                <br />
                @* ORDER MODAL *@
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" id="orderButton" data-target="#exampleModalCenter">
                    Sifariş et
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalCenterTitle">Detalları daxil edin.</h3>
                                <small>(Sifarişdən sonra sizinlə əlaqə saxlanılacaq)</small>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="my-1 mr-2" for="pName">Məhsulu sil</label>
                                        <input type="text" readonly id="pName" class="form-control" value="@product.Name" />
                                        <input type="hidden" value="@product.Id" id="productId" />
                                    </div>
                                    <div class="form-group">
                                        <label for="area">Almaq istədiyiniz sahə (kv. m)</label>
                                        <input type="number" class="form-control" id="area" placeholder="0">
                                        <input type="hidden" value="@product.Price" id="price"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact">Əlaqə nömrəsi</label>
                                        <input type="text" class="form-control" id="contact" placeholder="Əlaqə nömrəsi və ya email">
                                    </div>
                                    <div class="form-group">
                                        <label for="details">Əlavə qeydlər</label>
                                        <textarea class="form-control" id="details" rows="5"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Ləğv edin.</button>*@
                                <button type="button" class="btn btn-primary" onclick="postOrder()">Sifariş et!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="sep60"></div>

        <div class="tabs tabs-top left tab-container">

            <ul class="etabs">
                <li class="tab">
                    <a href="#tab-1"> MƏSUL TƏSVİRİ</a>
                </li>
                <li class="tab">
                    <a href="#tab-2">MƏHSUL HAQQINDA</a>
                </li>
                <li class="tab" style="cursor: not-allowed">
                    <a href="#tab-3">RƏYLƏR</a>
                </li>
            </ul>

            <div class="panel-container t-mgr10 brd-gray-cart">

                <div class="tab-block" id="tab-1">
                    <p># PRODUCT DESC #.</p>

                    <p># PRODUCT DESC 2 #</p>
                </div>

                <div class="tab-block" id="tab-2">
                    <div class="container">
                        <table class="standard-table">
                            <tr>
                                <th>Məhsul</th>
                                <th>Haqqında</th>
                            </tr>
                            <tr>
                                <td>Ölçülər</td>
                                <td>@product.Measurement.Width sm x @product.Measurement.Height sm</td>
                            </tr>
                            <tr>
                                <td>Rəng</td>
                                <td># PRODUCT COLOR #</td>
                            </tr>
                            <tr>
                                <td>Material</td>
                                <td>@product.Type.ToString()</td>
                            </tr>
                            <tr>
                                <td>Kvadratın qiyməti</td>
                                <td>&#8380; @((decimal)product.Price / 100)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="sep60"></div>


        <!-- / product -->

    </div>

</section>

<script src="~/js/order.js"></script>
<script src="~/js/axios.min.js"></script>